<!DOCTYPE HTML>
<html>

<head>
  <title>Share Key</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
  
  <script type="text/javascript">
    window.onload = function() {
      new ClipboardJS('input,textarea');
    }
    
  </script>
  
  <style type="text/css">
    body {
      font-family: 'Open Sans', sans-serif;
    }
  </style>
</head>
  
<body>
  <h1>Error :(</h1>
  <p><a href="/share">Back</p>
  
</body>
</html>